<ion-content color="dark">
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 40%">
            <ion-img style="width: 100px; height: 100px;" src="assets/rredsilogo.png"></ion-img>
        </ion-row>
            <ion-item class="ion-text-center" justify-content-center align-items-center color="dark">XI ENCUENTRO REGIONAL DE SEMILLEROS DE INVESTIGACIÓN</ion-item>
        <ion-button color="tertiary" expand="full" routerLink="tabs" routerDirection="forward">Inicia sesión con Google</ion-button>
        <ion-button color="medium" expand="full" routerLink="tabs" routerDirection="forward">Inicia sesión como Invitado</ion-button>
      </ion-grid>
</ion-content>
