<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Posters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select placeholder="Buscar por">
    <ion-select-option value="evaluador">Evaluador</ion-select-option>
    <ion-select-option value="ies">IES</ion-select-option>
    <ion-select-option value="autor">Autor</ion-select-option>
    <ion-select-option value="area">Area</ion-select-option>
    <ion-select-option value="propuesta">Propuesta</ion-select-option>
  </ion-select>
  <ion-col fixed>
    <ion-searchbar></ion-searchbar>
  </ion-col>
  <ion-card color="light" expand="full" *ngFor="let proyecto of proyectos">
    <ion-card-header>
      <ion-card-title>{{proyecto.trabajo.titulo}}</ion-card-title>
      <ion-card-subtitle>
        <p *ngFor="let autor of proyecto.autores">{{autor.nombres}} <br> </p>
      </ion-card-subtitle>
      <ion-card-content>
        <ion-badge color="success">{{proyecto.hora}}</ion-badge> <br>
        <ion-badge color="medium">{{proyecto.campus}} - {{proyecto.espacio}}</ion-badge> <br> {{proyecto.trabajo.tipo}}
        <br> {{proyecto.trabajo.semillero}} <br> {{proyecto.trabajo.sede}}
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
